{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1> Wilkommen! </h1>
    <p> Vielen Dank für Ihre Teilnahme an dieses Experiment... Wilkommensworte halt </p>
    <p> Hier geht es um xxxxxxx </p>
    <br>
    <h3> Ablauf </h3>
    <p> Ja so so und so vllt auch noch test test 123 </p>
    <div class="d-flex justify-content-center" style="margin-top: 50px">
        <a class="btn btn-primary btn-lg" href="{{ continue_button_url }}" type="button">
            Experiment Starten!
        </a>
    </div>
</div>

{% endblock %}