{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>
        Ablauf
    </h1>
    <p>
        Diese experimentelle Umfrage besteht aus mehreren Teilen und dauert insgesamt ca. {{ estimate_time_needed }} Minuten. Ihr Fortschritt wird nach Abschluss von jeden Teils gespeichert. Wenn Sie eine Pause brauchen, können Sie die Website somit schließen und später weiter machen. Rufen Sie die Startseite erneut auf und klicken Sie auf "Umfrage starten" um an der Stelle, wo Sie aufgehört haben, weiter zu machen. Bei Bedarf finden Sie eine erklärende Diashow zu allen Schritten weiter unten.
    </p>
    <p>
        Um an der Verlosung der Gutscheine teilzunehmen, müssen Sie alle Teile der experimentellen Umfrage bearbeiten.    </p>
    <div class="d-flex justify-content-center" style="margin-top: 50px">
        <a class="btn btn-primary btn-lg" href="{{ use_case_url }}" type="button">
            Beginnen
        </a>
    </div>
    <br>
    <hr>
    <br>

    <h3>
        Diese Diashow bietet eine Übersicht zur Vorgehensweise, falls benötigt.
    </h3>
    <!-- Carousel Guide -->
    <div class="border border-dark border-5">
        <div id="carouselExampleCaptions" class="carousel slide carousel-dark" data-bs-ride="carousel" data-bs-interval="false">
            <div class="carousel-indicators">
                <button class="bg-primary active" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
                <button class="bg-primary" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button class="bg-primary" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button class="bg-primary" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button class="bg-primary" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', path='/guide_user_data.png') }}" class="d-block w-100" alt="guide_user_data">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="bg-secondary rounded p-2">
                            <p class="no-pad-no-marg">Zuerst werden Ihnen Fragen zu Ihrer Person gestellt.</p>
                            <p class="no-pad-no-marg">Bitte beantworten Sie die Fragen.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', path='/guide_user_emotion.png') }}" class="d-block w-100" alt="guide_user_emotion">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="bg-secondary rounded p-2">
                            <p class="no-pad-no-marg">Danach wird Ihnen eine Situation beschrieben.</p>
                            <p class="no-pad-no-marg">Versetzen Sie sich bitte in die Situation hinein und beantworten die Fragen.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', path='/guide_evaluation.png') }}" class="d-block w-100" alt="guide_evaluation">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="bg-secondary rounded p-2">
                            <p class="no-pad-no-marg">Danach wird Ihnen eine Reaktion angezeigt.</p>
                            <p class="no-pad-no-marg">Bitte bewerten Sie diese Reaktion.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', path='/guide_interface.png') }}" class="d-block w-100" alt="guide_evaluation">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="bg-secondary rounded p-2">
                            <p class="no-pad-no-marg">Nun wird erneut Ihre Emotion abgefragt.</p>
                            <p class="no-pad-no-marg">Bitte bewerten Sie zusätzlich dazu die Oberfläche.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', path='/guide_thanks.png') }}" class="d-block w-100" alt="guide_repeat">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="bg-secondary rounded p-2">
                            <p class="no-pad-no-marg">Das wars auch schon.</p>
                            <p class="no-pad-no-marg">Jetzt können Sie an der Gutschein Verlosung teilnehmen.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev carousel-dark" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next carousel-dark" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="d-flex justify-content-center" style="margin-top: 50px">
        <a class="btn btn-primary btn-lg" href="{{ use_case_url }}" type="button">
            Beginnen
        </a>
    </div>
</div>


{% endblock %}