{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>
        Masterarbeit von Daniel Jäkel
    </h1>
    <p>
        Herzlich willkommen zu der experimentellen Umfrage für meine Masterarbeit.
    </p>
    <p>
        Um bei Einkäufen im stationären Einzelhandel ein möglichst gutes Verkaufsergebnis für Sie als Kunden zu schaffen, wird an verschiedenen Möglichkeiten geforscht, welche möglicherweise die Effizienz der Kundenkommunikation erhöhen könnten. Eine solche Entwicklung ist auch im Sinne des stationären Einzelhandels. Bei einer Verbesserung der Kundenkommunikation gewinnen beide Seiten.
    </p>
    <p>
        Zur Verbesserung der Kommunikation mit Kunden forsche ich im Rahmen meiner Masterarbeit an einer verbesserten Berücksichtigung von Kundenemotionen, welche durch IT Unterstützung ermöglicht wird.
    </p>
    <p>
        Um die Wirksamkeit dieser Methode zu testen, führe ich diese experimentelle Umfrage durch. Vielen herzlichen Dank für Ihre Teilnahme!
    </p>
    <hr>
    <div class="d-flex justify-content-center" style="margin-top: 50px">
        <a class="btn btn-primary btn-lg" href="{{ continue_button_url }}" type="button">
            Umfrage starten
        </a>
    </div>
</div>

{% endblock %}