{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>
        Datenschutzerklärung
    </h1>
    <h3>
        Grundlegendes
    </h3>
    <p>
        Diese Datenschutzerklärung soll die Nutzer dieser Website über die Art, den Umfang und den Zweck der Erhebung und Verwendung personenbezogener Daten informieren. Wenn Sie Bedenken haben, oder wollen das Ihre Daten gelöscht werden, schreiben Sie mir eine E-Mail.
    </p>
    <p>
        Zusammenfassung: Es werden nur die Daten gespeichert die Sie angeben und es wird ein Cookie gesetzt, um Sie in allen Schritten anonym, aber eindeutig, zu identifieren damit Sie keine Teile der Umfrage mehrfach ausfüllen.
    </p>
    <h3>
        Cookies
    </h3>
    <p>
        Diese Website verwendet Cookies für die Funktion der Umfrage. Bei Cookies handelt es sich um kleine Dateien, welche auf Ihrem Endgerät gespeichert werden. Ihr Browser greift auf diese Dateien zu. Jedem Nutzer wird eine zufällige ID zugewiesen, welche anonym als Cookie gespeichert wird. Ohne den Einsatz von Cookies funktioniert diese Website nicht.
    </p>
    <h3>
        Umgang mit Kontaktdaten
    </h3>
    <p>
        Sollten Sie Ihre E-Mail hinterlegen, wird diese nur bis zum Abschluss der Umfrage in Verbindung mit Ihrer ID gespeichert und danach sofort gelöscht. Außerdem wird die E-Mail nur für den Zweck der Verlosung benutzt.
    </p>
    <h3>
        Umgang mit Kommentaren
    </h3>
    <p>
        Hinterlassen Sie einen Kommentar, wird dieser in Verbdinung mit Ihrer ID gespeichert.
    </p>
</div>


{% endblock %}